body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','saira-semi-condensed',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','michroma',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  background: #06152b;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New','michroma','saira-semi-condensed',
    monospace;
}
